@import '../custom';
@import 'fontsource-roboto';

.individual-banner-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 0 0;
}

// Override Bootstrap carousel defaults

.carousel-indicators.individual-page {
    li {
        background-color: $yellow !important;
    }
}

.carousel-indicators.individual-page {
    top: 5% !important;
}

.carousel-control-prev.individual-page,
.carousel-control-next.individual-page {
    bottom: 25% !important;
}

@media only screen and(max-width: 767px) {
    .individual-banner-image {
        width: 100%;
        height: 255px;
    }
}
