@import '../custom';
@import 'fontsource-roboto';

.individual-page-section {
  background-color: $darkgray;
  padding: 3rem;
  border-radius: 5px;
}

.social-icons img {
  height: 40px;
  width: 40px;
  opacity: 100%;
  &:hover {
    opacity: 50%;
  }
}

.review-item {
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  a:hover {
    text-decoration: none;
    color: white;
    opacity: 50%;
  }
}

.overview {
  font-size: 18px;

  .game-desc {
      padding-left: 50px;
  }

  button {
      font-size: 14px;
  }
}

h2.font-weight-extra-light {
  font-size: 20px;
}

@media (max-width: 768px) {
  .overview {
    .pb-4 {
      padding-left: 20px;
    }
  }

  .game-desc {
    padding-left: 0;
  }
}
