// Bootstrap variable overrides
$body-bg: #020202;
$body-color: #e7e7e7;
$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// Variables
$primary-light: rgba($body-color, 0.6);
$yellow: #e4bd00;
$darkgray: #1c1c1c;
$lightgray: #333333;

// Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';

// Fonts
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
}

// Sitewide styles
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: $yellow;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-button {
  background: $yellow;
  height: 15px;
  border-radius: 50%;
}

a {
  color: white;
  :hover {
    color: $yellow;
  }
}

.btn-yellow {
  background-color: $yellow;
  border-color: $yellow;
  color: black;
}

.color-yellow {
  color: $yellow;
}

.font-weight-extra-light {
  font-weight: 100;
}

// Loading Spinner
// See ads.js for usage
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #e4bd00;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
