@import '../custom.scss';

#account-container {
    .account-box {
      background-color: $darkgray;
    }

    h5 {
        font-size: 36px;
        font-weight: 100;
    }

    .form-label, input {
      font-size: 16px;
    }

    input {
      color: $body-color;
      background-color: $lightgray;
      border: none;
    }

    ::placeholder {
      color: transparent;
    }

    button {
      background-color: $yellow;
      border: none;
      color: #000;

      &:hover {
        background-color: lighten($yellow, 5)
      }
    }

    a.login-link {
      font-size: 16px;

      *:hover {
        color: $primary-light;
        text-decoration: none;
      }
    }
}
